---
export const prerender = false;

import { getTicket } from "../../data/getTicket";
import { questions } from "../../data/quiz.json";
import Layout from "../../layouts/Layout.astro";

let message = "";
let completed = false;
let ticketMessage = "";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();

    let score = 0;

    for (let i = 1; i <= questions.length; i++) {
      const answer = data.get(`question-${i}`);

      if (answer === questions[i - 1].correct) {
        score++;
      }
    }

    message = `You scored ${score}/${questions.length}`;

    if (score === questions.length) {
      completed = true;

      const { ticket, ticketSeen } = await getTicket();

      ticketMessage = `The ticket code is ${ticket}. ${ticketSeen ? "Someone have already completed the quiz before you." : "You are first to see the ticket, redeem QUICK!"}`;
    }
  } catch (error) {
    message = "An error occurred while processing your quiz results.";

    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="Quiz Result" description="">
  <h1>Quiz Result</h1>

  <p>{message}</p>
  {
    completed ? (
      <p>Congratulations! You have completed the quiz.</p>
    ) : (
      <p>
        Try again: <a href="/quiz/play">click here</a>
      </p>
    )
  }

  <p>{ticketMessage}</p>
</Layout>
