---
interface Props {
  index: number;
  question: string;
  choices: string[];
}

import { ticketIndex } from "../data/ticketIndex";

const { index, question, choices } = Astro.props;

const shuffledChoices = choices.sort(() => Math.random() - 0.5);

const realIndex = ticketIndex[index - 1];
---

<h3>{realIndex}{")"} {question}</h3>

<ul style="list-style-type: none">
  {
    shuffledChoices.map((choice) => (
      <li>
        <label>
          <input
            type="radio"
            name={`question-${index}`}
            value={choice}
            required
          />
          <span>{choice}</span>
        </label>
      </li>
    ))
  }
</ul>
